<mat-toolbar color="primary" class="mat-navbar">
  <div class="mat-navbar-content">
    <span class="mat-navbar-brand" routerLink="/">AniManga</span>

    <nav class="mat-navbar-links">
      <a mat-button routerLink="/genre-crud">Géneros</a>
      <a mat-button routerLink="/authors">Autores</a>
      <a mat-button routerLink="/studios">Estudios</a>
      <a mat-button routerLink="/mangas">Mangas</a>
      <a mat-button routerLink="/animes">Animes</a>
      <a mat-button routerLink="/characters">Personajes</a>
      <a mat-button *ngIf="isAdmin()" routerLink="/logs">Logs</a>
      <a mat-button *ngIf="isAdmin()" routerLink="/users">Users</a>
    </nav>

    <button mat-button [matMenuTriggerFor]="userMenu" class="mat-user-menu">
      <mat-icon>account_circle</mat-icon>
      <span>{{ userName }}</span>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>