<app-navbar
  [userName]="userName"
  (logoutEvent)="onLogout()">
</app-navbar>

<div class="container">
  <h2>Listado de Autores</h2>

  <!-- Botón para crear un autor (solo para admin) -->
  <button *ngIf="userRole === 'admin'" mat-raised-button color="primary" (click)="navigateToCreate()">
    <mat-icon>add</mat-icon> Crear Nuevo Autor
  </button>

  <!-- Autores Activos -->
  <h3>Autores Activos</h3>
  <div class="cards-container">
    <mat-card *ngFor="let author of activeAuthors" class="green-card">
      <mat-card-content>
        <span class="card-title">{{ author.name }}</span>
      </mat-card-content>
      <mat-card-actions *ngIf="userRole === 'admin'">
        <button mat-icon-button color="primary" (click)="navigateToUpdate(author.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteAuthor(author.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Autores Eliminados (solo para admin) -->
  <div *ngIf="userRole === 'admin'">
    <h3>Autores Eliminados</h3>
    <div class="cards-container">
      <mat-card *ngFor="let author of deletedAuthors" class="red-card">
        <mat-card-content>
          <span class="card-title">{{ author.name }}</span>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="accent" (click)="restoreAuthor(author.id)">
            <mat-icon>restore</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="forceDeleteAuthor(author.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>