<div class="mat-welcome-container">
  <mat-card class="mat-welcome-card">
    <mat-card-header>
      <mat-card-title class="mat-welcome-title">Bienvenido a AniManga</mat-card-title>
      <mat-card-subtitle class="mat-welcome-subtitle">¡Explora el mundo del anime y el manga!</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions class="mat-welcome-actions">
      <button mat-raised-button color="primary" routerLink="/register" class="mat-welcome-button">
        Registrarse
      </button>
      <button mat-raised-button color="accent" routerLink="/login" class="mat-welcome-button">
        Iniciar sesión
      </button>
    </mat-card-actions>
  </mat-card>
</div>