<div class="container">
    <h2>{{ isEditMode ? 'Editar Autor' : 'Crear Autor' }}</h2>
  
    <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre del Autor</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="authorForm.get('name')?.hasError('required')">
          El nombre es obligatorio.
        </mat-error>
      </mat-form-field>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">
          {{ isEditMode ? 'Actualizar' : 'Crear' }}
        </button>
        <button mat-raised-button color="warn" type="button" (click)="navigateToAuthorList()">
          Cancelar
        </button>
      </div>
    </form>
  </div>